<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Operaciones sobre alumnos</title>
    </head>

    <body>
        <form action="./controllers/alumnoController.php" method="post">
            <select name="alumoper" id="alumoper">
                <option value="1">Insertar alumno</option>
                <option value="2">Borrar alumno</option>
                <option value="3">Modificar alumno</option>
                <option value="4">Ver alumnos</option>
            </select>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
