header {
    margin-bottom: 12px;
}

header div {
    display: inline-block;
}

header div#logo {
    width: 20%;
}

header div#logo img {
    width: 100%;
}

header div#user-info {
    vertical-align: top;
    width: 79%;
    text-align: right;
}

header div#user-info p:first-child {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 20px;
}

header div#user-info p:last-child {
    margin: 0;
}

header div#user-info p:last-child a {
    color: black;
    font-size: 12px;
    text-decoration: none;
    padding: 0 8px;
}

header div#user-info p:last-child a:last-child {
    border-left: 1px solid black;
    padding-left: 16px;
    padding-right: 0;
}

nav {
    border: 2px solid black;
    text-align: center;
}

nav li {
    display: inline;
    margin: 24px;
}
