section#whats {
    border: 2px solid black;
    padding: 16px;
    width: 380px;
}

section#whats h2 {
    margin-top: 0;
    font-weight: normal;
    border-bottom: 2px solid black;
}

section#whats img {
    width: 100%;
    margin-bottom: 12px;
}

section#whats button {
    padding: 4px 14px;
    border: 2px solid black;
    border-radius: 12px;
    float: right;
    position: absolute;
    top: 220px;
    left: 270px;
}
