/* Ejercicio 6 */

@font-face {
    font-family: MBCorpoTitle;
    src: url(./fonts/MBCorpoATitleCond-Regular.woff2);
}

@font-face {
    font-family: MBCorpoTextBold;
    src: url(./fonts/MBCorpoSText-Bold.woff2);
}

@font-face {
    font-family: MBCorpoText;
    src: url(./fonts/MBCorpoSText-Regular.woff2);
}

:root {
    font-family: "MBCorpoText";
    color: white;
    font-size: 15px;
}

#logo {
    width: 2.8rem;
    height: auto;
}

.primary-btn {
    background-color: #b21e23;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: #981717;
}

h1,
h2 {
    font-family: "MBCorpoTitle";
    font-weight: normal;
    font-size: 2rem;
}

h3,
h4 {
    font-family: "MBCorpoText";
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
}

svg {
    width: 24px;
    height: 24px;
}

svg:hover {
    fill: white;
}

body {
    background-color: black;
    max-width: 1450px;
    margin: auto;
    padding: 0 16px;
}

header {
    margin-top: 1rem;
    color: #6e6e6e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #burger_menu {
    display: none;
    width: 32px;
    height: 32px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    align-items: center;
}

header nav ul a {
    text-decoration: none;
    color: #6e6e6e;
}

header nav ul a:hover {
    color: white;
}

header nav ul span:hover {
    cursor: pointer;
}

main section#recomendaciones div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 640px 640px;
    gap: 32px;
}

main section#recomendaciones article {
    border: 1px solid #6e6e6e;
    padding: 2rem;
    align-content: end;
    padding-bottom: 5rem;
    color: white;
    box-sizing: border-box;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: relative;
}

main section#recomendaciones div article:first-child {
    grid-column: 1 / span 2;
}

main section#recomendaciones div article h2 {
    margin: 0 0 2.5rem;
}

main section#recomendaciones div article a:last-child {
    color: white;
    margin-left: 2rem;
}

main section#recomendaciones div article:last-child a:last-child {
    margin-left: 0;
}

main section#ofertas {
    margin: 3rem 0;
}

main section#ofertas > div {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

main section#ofertas article {
    background-color: #4f4f4f;
    width: 25%;
}

main section#ofertas article img {
    width: 100%;
    min-height: 250px;
}

main section#ofertas article div {
    padding: 0 2rem;
    min-height: 350px;
}

main section#ofertas article div h3 {
    font-family: MBCorpoTextBold;
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem;
}

main section#ofertas article div h4 {
    margin: 0.5rem 0 2rem;
}

main section#ofertas article div {
    font-family: MBCorpoTextBold;
    font-weight: 900;
    font-size: 1rem;
}

main section#ofertas article div p {
    margin: 1.5rem 0;
}

main section#ofertas article div .notbolder {
    font-family: MBCorpoText;
    font-weight: 300;
    font-size: 0.9rem;
}

main section#ofertas article .primary-btn {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

footer div {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul a {
    color: #6e6e6e;
    text-decoration: none;
}

footer ul li {
    margin: 0.8rem 0;
}

footer ul li:hover a {
    color: white;
    text-decoration: none;
}

footer > section {
    border-top: 1px solid #6e6e6e;
    padding: 1rem 0;
    display: flex;
}

footer > section > * {
    margin-top: 8px;
    margin-bottom: 1rem;
}

footer > section ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 95%;
}

footer > section div {
    gap: 1rem;
    align-items: center;
}

footer > section div svg {
    width: 1.5rem;
}

/* Pantalla de PC pequeña */
@media (width < 1200px) {
    main section#recomendaciones div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    main section#recomendaciones div article:first-child {
        grid-column: 1 / span 2;
    }

    main section#ofertas > div article {
        width: 30%;
    }

    main section#ofertas > div article:last-child {
        display: none;
    }

    footer div {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer div section {
        width: 30%;
    }

    footer > section {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer > section ul {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}

/* Tablet */
@media (width < 900px) {
    header nav:first-child {
        order: 3;
    }

    header #burger_menu {
        display: block;
    }

    header nav .menu {
        display: none;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 8px;
        border: #6e6e6e 1px solid;
        border-radius: 4px;
    }

    main section#recomendaciones div {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    main section#recomendaciones div article:first-child {
        grid-column: 1 / 2;
    }

    main section#ofertas > div {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    main section#ofertas > div article {
        width: 45%;
    }

    main section#ofertas > div article:last-child {
        display: block;
    }

    main section#ofertas article div {
        min-height: 260px;
    }
}

/* Teléfono móvil */
@media (width < 550px) {
    main section#ofertas > div article {
        width: 100%;
    }

    main section#ofertas article div {
        min-height: 0;
    }
}
