:root {
    font-size: 14px;
}

.box {
    width: 330px;
    margin: auto;
}

section#news {
    padding: 16px;
    border: 2px solid black;
}

section#news h2 {
    margin-top: 0;
    border-bottom: 2px solid black;
}

section#news article img {
    display: inline-block;
    width: 24%;
}

section#news article div {
    display: inline-block;
    vertical-align: top;
    width: 73.4%;
}

section#news article div p {
    margin: 0;
}

section#news article div a {
    width: 100%;
    text-align: right;
    display: block;
    margin: 4px 0;
}

section#news div h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
}

section#news div ul {
    padding-left: 12px;
    margin: 0;
}
