body {
    max-width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
    color: blue;
}

#botones {
    background-color: blue;
    padding: 16px;
}

b {
    margin: 16px 0;
    padding: 0 16px;
    border: 1px solid black;
}
