:root {
    font-size: 14px;
    background-color: #2b78e4;
}

.boxed {
    width: 1280px;
    margin: auto;
}

body {
    margin: 0;
}

header {
    padding: 1rem;
    background-color: #2b78e4;
    position: sticky;
    top: 0;
}

header * {
    display: inline;
    vertical-align: middle;
}

header nav a {
    color: #ffffff;
}

header button {
    margin-left: 1rem;
    min-width: 4rem;
    border: 0.1rem solid #000000;
    border-radius: 0;
    /* vertical-align: middle; */
    margin-top: 1%;
    float: right;
}

section#busqueda div ul li {
    display: inline;
}

section#busqueda div ul li a {
    color: #ffffff;
    text-decoration: none;
}

section#busqueda div#buscador {
    margin: 1rem 0;
    vertical-align: middle;
}

section#busqueda div#buscador select {
    width: 20%;
    height: 2rem;
}

section#busqueda div#buscador input {
    width: 78.7%;
    height: 2rem;
}

section#busqueda div#buscador input::placeholder {
    color: lightblue;
}

section#busqueda div:last-child {
    padding-bottom: 1.5rem;
}

section#busqueda div figure {
    background-color: orange;
    display: inline-block;
    width: 18.38%;
    margin: 0 0.5rem;
}

section#busqueda div figure:nth-child(even) {
    background-color: yellow;
}

section#busqueda div figure img {
    margin: 0.5rem;
    width: 30%;
    vertical-align: middle;
}

section#busqueda div figure figcaption {
    width: 60.47%;
    display: inline-block;
    vertical-align: middle;
}

section#busqueda div ul {
    padding: 0;
}

section#busqueda div ul li {
    margin-left: 0.5rem;
}

main {
    background-color: #ffffff;
}

main section:first-child {
    padding: 1rem 0;
}

main section:first-child div#columna {
    display: inline-block;
    vertical-align: middle;
    width: 87.3%;
}

main section:first-child button {
    background-color: orange;
    min-width: 11rem;
    min-height: 3rem;
    border: 0.1rem solid #000000;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
}

main section:first-child button:hover,
main section:first-child button:focus {
    background-color: yellow;
}

main section#productos article {
    margin: 0 1rem;
    width: 22.3%;
    display: inline-block;
    box-sizing: border-box;
}

main section#productos * {
    width: 100%;
}

main section#productos article h5 {
    min-height: 5rem;
}

main section#productos article a:visited {
    color: orange;
}

main section#productos hr {
    margin: 3rem 0;
}

main section#noticias {
    padding-bottom: 1rem;
}

main section#noticias article {
    width: 45.29%;
    margin: 0 2rem;
    display: inline-block;
    box-sizing: border-box;
}

main section#noticias article * {
    width: 100%;
}

footer section#social * {
    display: inline-block;
    vertical-align: middle;
}

footer section#social button {
    margin-left: 0.5rem;
    min-width: 6rem;
    min-height: 2rem;
    border: 0.1rem solid #000000;
    border-radius: 0;
}

footer section#social button:disabled {
    color: #ffffff;
    border: 0.2rem solid yellow;
}

footer section#social span {
    margin-left: 0.5rem;
    width: 15px;
    height: 15px;
    border: 0.1rem solid #000000;
    border-radius: 2px;
}

footer section#links_navegacion {
    padding: 0.8rem 0;
}

footer section#links_navegacion div {
    color: #ffffff;
    width: 24.5%;
    display: inline-block;
}

footer section#links_navegacion div ul li {
    list-style: none;
}

footer section#links_navegacion div ul li:first-child {
    font-weight: bold;
}

footer nav {
    background-color: #073763;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

footer nav li {
    display: inline;
}

footer nav li a {
    color: #ffffff;
}
