<h2 style='display:flex; justify-content:center;'>MASCOTA ACOGIDA POR UNA FAMILIA</h2>
<table border='1' cellspacing='4' cellpadding='8' align='center'>
    <form action='#' method='post'>
        <tr>
            <td colspan='2'>
                <label for='id'>Identificador mascota:</label><input type='text' name='id' id='id'><br>
            </td>
        </tr>
        <tr>
            <td><button type='submit'>ACEPTAR</button></td>
            <td><button type='reset'>LIMPIAR</button></td>
        </tr>
    </form>
</table