<h2 style="display: flex; justify-content: center">DATOS DE LA MASCOTA</h2>
<table border="1" cellspacing="4" cellpadding="8" align="center">
    <form action="#" method="post">
        <tr>
            <td colspan="2">
                <label for="id">Identificador mascota:</label
                ><input type="text" name="id" id="id" /><br />
                <label for="nombre">Nombre:</label
                ><input type="text" name="nombre" id="nombre" /><br />
                <label for="especie">Especie(Perro/Gato):</label
                ><input type="text" name="especie" id="especie" /><br />
                <label for="sexo">Sexo(M/H):</label
                ><input type="text" name="sexo" id="sexo" /><br />
                <label for="centro">Identificador centro:</label
                ><input type="text" name="centro" id="centro" />
            </td>
        </tr>
        <tr>
            <td><button type="submit">ACEPTAR</button></td>
            <td><button type="reset">LIMPIAR</button></td>
        </tr>
    </form>
</table>
