body {
    background-color: #cccccc;
    /* border: 1px solid black; */
    /* Comentario */
}

* {
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
}

header {
    border: 1px solid black;
}

h1 {
    font-size: 26px;
}

h2,
h3 {
    font-size: 20px;
    color: blue;
}

article h3 {
    color: orange;
}

.resaltado {
    font-weight: bold;
}

span.resaltado {
    color: red;
}

#principal {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: brown;
}

section#principal {
    background-color: aquamarine;
}

/* Solo estiliza al hijo */
#avanzado > p {
    border: 1px solid black;
}

/* Estiliza el siguiente parrafo al h3 */
h3 + p {
    text-decoration: underline;
}

/* Estiliza todos los elementos siguientes al h3 */
h3 ~ p {
    text-transform: uppercase;
}

/* Estilos para los elementos deshabilitados */
[disabled] {
    color: white;
}

/* Estilos para los elementos con enlace a una nueva pestaña */
[target="_blank"] {
    text-decoration: line-through;
}

/* Estilos para los elementos con class */
/* [class] {
    font-weight: bold;
    color: chartreuse;
} */

/* Estilos para los elementos que enlacen a una URL segura */
a[href^="https"] {
    color: plum;
}

/* Estilos para los elementos que enlacen a una URL no segura */
a[href^="http:"] {
    display: none;
}

/* Estilos para los elementos que enlacen con URL que acaban en .com/ */
a[href$=".com/"] {
    padding-left: 50px;
}

/* Estilos para los elementos que tengan en el enlace la palabra css */
a[href*="css"] {
    font-weight: bold;
    color: black;
}

[class*="resaltado"] {
    color: gold;
}
