/* Ejercicio 4 */

@font-face {
    font-family: MBCorpoTitle;
    src: url(./fonts/MBCorpoATitleCond-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MBCorpoTextBold;
    src: url(./fonts/MBCorpoSText-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: MBCorpoText;
    src: url(./fonts/MBCorpoSText-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: "MBCorpoText";
    color: white;
    font-size: 15px;
}

#logo {
    width: 52px;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-family: "MBCorpoTitle";
    font-weight: normal;
}

.primary-btn {
    background-color: #b21e23;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: #981717;
}

body {
    background-color: black;
    max-width: 1400px;
    margin: auto;
}

header {
    margin-top: 1rem;
    color: #4f4f4f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    align-items: center;
}

header nav ul a {
    text-decoration: none;
    color: #4f4f4f;
}

header nav ul a:hover {
    color: white;
}

header nav ul span:hover {
    cursor: pointer;
}

header nav ul span:hover svg path {
    fill: white;
}

main section#recomendaciones div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 640px 640px;
    gap: 32px;
}

main section#recomendaciones article {
    border: 1px solid #4f4f4f;
    padding: 2rem;
    align-content: end;
    padding-bottom: 5rem;
}

main section#recomendaciones div article:first-child {
    grid-column: 1 / span 2;
}

main section#recomendaciones div article {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: relative;
    color: #fff;
    box-sizing: border-box;
}

main section#recomendaciones div article h4 {
    margin-bottom: 0.5rem;
}

main section#recomendaciones div article h2 {
    margin-top: 0;
    margin-bottom: 2.5rem;
}

main section#recomendaciones div article a:last-child {
    color: white;
    margin-left: 2rem;
}

main section#recomendaciones div article:last-child a:last-child {
    margin-left: 0;
}

main section#ofertas > div {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

main section#ofertas article {
    background-color: #4f4f4f;
    width: 25%;
}

main section#ofertas article img {
    width: 100%;
    min-height: 250px;
}

main section#ofertas article div {
    padding: 0 2rem;
    min-height: 300px;
}

main section#ofertas article .primary-btn {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

footer div {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul a {
    color: #4f4f4f;
    text-decoration: none;
}

footer ul li:hover a {
    color: white;
    text-decoration: none;
}

footer > section:last-child {
    border-top: 1px solid #4f4f4f;
    padding: 1rem 0;
    display: flex;
}

footer > section:last-child > * {
    margin-top: 8px;
    margin-bottom: 1rem;
}

footer > section:last-child ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 95%;
}

footer > section:last-child div {
    gap: 1rem;
    align-items: center;
}

footer > section:last-child div svg {
    width: 1.5rem;
}
