/* Ejercicio 4 */

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Parkinsans:wght@300..800&display=swap");
/* Corporate A BQ Light */
/* Helvetica Neue o Arial */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

:root {
    font-family: "Kanit";
    color: white;
    font-size: 15px;
}

h1, h2 {
    font-family: "PT Serif";
}

.primary-btn {
    background-color: #b21e23;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
}

body {
    background-color: black;
    max-width: 1400px;
    margin: auto;
}

header {
    color: #4f4f4f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    align-items: center;
}

header nav ul a {
    text-decoration: none;
    color: #4f4f4f;
}

header nav ul a:hover {
    color: white;
}

header nav ul span:hover {
    cursor: pointer;
}

header nav ul span:hover svg path {
    fill: white;
}

main section#recomendaciones div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 640px 640px;
    gap: 32px;
}

main section#recomendaciones article {
    border: 1px solid #4f4f4f;
    padding: 16px;
    align-content: end;
    padding-bottom: 5rem;
}

main section#recomendaciones div article:first-child {
    grid-column: 1 / span 2;
}

main section#recomendaciones div article {
    background-position: center;
    position: relative;
    color: #fff;
    box-sizing: border-box;
}

main section#recomendaciones div article h4 {
    margin-bottom: 0.5rem;
}

main section#recomendaciones div article h2 {
    margin-top: 0;
    margin-bottom: 2.5rem;
}

main section#recomendaciones div article a {
    color: white;
    margin-left: 2rem;
}
